
<div class="d-flex flex-row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% assign categories = include.path | split:"/" %}

            {% assign filename_without_extension = categories | last | split:"." | first %}
	

            {% if categories contains "_posts" or filename_without_extension == "index" %}
                {% assign categories = categories | pop %}
            {% endif %}

            {% assign route="" %}

            <li class="breadcrumb-item">
                <!--<a href="{{ '/' | absolute_url }}" class="d-inline-flex align-items-center">
                    <img src="{{ site.baseurl}}/assets/icons/house.svg" type="button">
                </a>-->
                <a href="{{ '/' | absolute_url }}" class="d-inline-flex align-items-center">home</a>
            </li>

            {% for category in categories %}

        <!--<span class="mt-auto"> / </span>-->

        {% assign route = route | append: '/' | append: category %}
        <!--<script>console.log('route: {{ route }}');</script>-->

        {% if forloop.last %}
            {% if include.title %}
                <li class="breadcrumb-item">{{ include.title }}</li>  
            {% else %}
                <li class="breadcrumb-item">{{ category  }}</li>
            {% endif %}
        {% else %}
            <li class="breadcrumb-item"><a href="{{ route | absolute_url }}">{{ category }}</a></li>
        {% endif %}

    {% endfor %}
        </ol>
    </nav>
</div>

