<nav class="navbar bg-body-tertiary">
    
    <div class="d-flex flex-row w-100">
  
          <div class="flex-grow-1 align-self-center">
            <!--<a class="navbar-brand fs-4 fw-semibold ms-2" href="{{ site.baseurl}}/.">{{ site.title}}</a>-->
            <a class="navbar-brand fs-4 fw-semibold ms-2" href="#">
              <img src="{{ site.baseurl}}/assets/images/logo/favicon_io/apple-touch-icon.png" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
              {{ site.title}}
            </a>
          </div>
          
          <!--<div class="align-self-center me-2">
            <img src="../assets/icons/moon-stars.svg" type="button" height="20px">
          </div>-->
  
          <div class="align-self-center">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
          </button>
          </div>
    </div>
  
    <div class="d-flex flex-row w-100">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">            
            <li class="nav-item">
                <a href="{{ site.baseurl}}/blog"  class="nav-link text-center" href="#">blog</a>
            </li>
            <li class="nav-item">
              <a href="{{ site.baseurl}}/projects"  class="nav-link text-center" href="#">projects</a>
            </li>
            <li class="nav-item">
                <a href="{{ site.baseurl}}/about-me"  class="nav-link text-center" href="#">about me</a>
            </li>          
        </ul>      
      </div>
    </div>
  
  </nav>
  