<ul style="list-style-type: none; padding-left: 0px;">
    {% for post in site.posts %}
        <li class="pb-2">
            <!--
            <div>{{ post.date | date: "%b %d, %y"}}:</div>
                <a href="{{ base_url }}{{ post.url }}">{{ post.title }}</a>
            <div class="badge bg-primary">{{ post.category}}</div>
            -->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>{{ post.category}}</div>
                        <div>{{ post.date | date: "%b %d, %Y"}}</div>
                    </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text small">{{ post.excerpt }}</p>
                  <a href="{{ base_url }}{{ post.url }}" class="btn btn-sm btn-outline-primary">Read</a>
                </div>
            </div>

        </li>
    {% endfor %}
</ul>

