<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="{{ site.baseurl }}/assets/css/bootstrap-5.3.0/bootstrap.min.css" rel="stylesheet" >
    <link href="{{ site.baseurl }}/assets/css/myStyle.css" rel="stylesheet" >
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    
      {% include title.html %}
      {% include subtitle.html %}
      {% include navigation.html %}
      {% include breadcrumbs.html path=page.path title=page.title %}

      <h2 class="current">{{ page.title }}</h2>
    
      {{ content }}
    
      {% include footer.html %}
      
    
    <script src="{{ site.baseurl }}/assets/js/bootstrap-5.3.0/bootstrap.bundle.min.js"></script>

  </body>
</html>
