<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="{{ site.baseurl }}/assets/css/bootstrap-5.3.0/bootstrap.min.css" rel="stylesheet" >
    <link href="{{ site.baseurl }}/assets/css/myStyle.css" rel="stylesheet" >
    {% feed_meta %}
    {% seo %}
  </head>

  <body class="d-flex flex-column" style="height: 100vh;">

    <div class="container">
      <div class="d-flex flex-row justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6">
          
          {% include header.html%}

          {% include breadcrumbs.html path=page.path title=page.title %}
    
          {{ content }}
    
      </div>
    </div>  
  </div>

  <div class="mt-auto p-2">
    <div class="container">
      <div class="d-flex flex-row justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6">

    {% include footer.html %}
  </div>
</div>  
</div>

  </div>


    <script src="{{ site.baseurl }}/assets/js/bootstrap-5.3.0/bootstrap.bundle.min.js"></script>

  </body>
</html>
