<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include title.html %}
    {% include subtitle.html %}
    {% include navigation.html %}
    {% include breadcrumbs.html %}
    
    <h2>{{ page.title }}</h2>
    <section>
      {{ content }}
    </section>
    {% include footer.html %}
  </body>
</html>
