---
layout: default
---

<style type="text/css">

    .excerpt{
        color: slategrey !important;
        margin-bottom: 10px;
        font-size: larger;
    }

    #post-text h1{
        font-size: larger;
    }

    #post-text h2{
        font-size: larger;
    }

    #post-text h3{
        font-size: larger;
    }

    #post-text p{
        line-height: 150% !important;
    }

</style>

<div class="ms-2 me-2">

    <div class="d-flex flex-row">
        <i class="bi bi-tags {{page.category}}-color"></i>
        <div class="ms-1">
            <small>{{ page.tags | sort | join: ", " }}</small>
        </div>
    </div>

    <h2 class="mb-2">
        {{ page.title }}
    </h2>

    <div class="excerpt">
        {{ page.excerpt }}
    </div>

    <div class="d-flex flex-row mb-2">
        <i class="bi bi-pen {{page.category}}-color"></i>
        <div class="ms-1">
            <small>{{ page.author }}</small>
        </div>
        <i class="bi bi-calendar3 {{page.category}}-color ms-2"></i>
        <div class="ms-1">
            <small>{{ page.date | date: "%b %d, %Y"}}</small>
        </div>
    </div>

    <div id="post-text">
        {{ page.content }}
    </div>

</div>