---
layout: default
---

<style type="text/css">

    .excerpt{
        color: slategrey !important;
        margin-bottom: 10px;
        font-size: larger;
    }

    #post-text h1{
        font-size: larger;
    }

    #post-text h2{
        font-size: larger;
    }

    #post-text h3{
        font-size: larger;
    }

    #post-text p{
        line-height: 150% !important;
    }

</style>


<!--
<p><strong>Author:</strong> {{ page.author }}</p>
<p><strong>Published on:</strong> {{ page.date | date: "%B %-d, %Y" }}</p>
<p><strong>At:</strong> {{ page.date | date: "%H:%M"  }}</p>
<p><strong>Categories:</strong> {{ page.categories }}</p>
<p><strong>Tags:</strong> {{ page.tags }}</p>
-->

<div class="d-flex flex-row">
    <img src="{{ site.baseurl }}/assets/icons/bookmark.svg">
    <div class="ms-1">
        {{ page.category }}
    </div>
    <img src="{{ site.baseurl }}/assets/icons/tags.svg" class="ms-2">
    <div class="ms-1">
        {{ page.tags | sort | join: ", " }}
    </div>
</div>

<h2 class="mb-2">
    {{ page.title }}
</h2>

<div class="excerpt">
    {{ page.excerpt }}
</div>

<div class="d-flex flex-row mb-3">
        <img src="{{ site.baseurl }}/assets/icons/pen.svg">
        <div class="ms-1">
            {{ page.author }}
        </div>
        <img src="{{ site.baseurl }}/assets/icons/calendar3.svg" class="ms-2">
        <div class="ms-1">
            {{ page.date | date: "%b %d, %Y"}}
        </div>
</div>

<div id="post-text">
    {{ page.content }}
</div>
