---
layout: default
---

<style type="text/css">

    .excerpt{
        color: slategrey !important;
        margin-bottom: 10px;
        font-size: larger;
    }

    #post-text h1{
        font-size: larger;
    }

    #post-text h2{
        font-size: larger;
    }

    #post-text h3{
        font-size: larger;
    }

    #post-text p{
        line-height: 150% !important;
    }

</style>


<!--
<p><strong>Author:</strong> {{ page.author }}</p>
<p><strong>Published on:</strong> {{ page.date | date: "%B %-d, %Y" }}</p>
<p><strong>At:</strong> {{ page.date | date: "%H:%M"  }}</p>
<p><strong>Categories:</strong> {{ page.categories }}</p>
<p><strong>Tags:</strong> {{ page.tags }}</p>
-->

<h2 class="mb-2">
    {{ page.title }}
</h2>

<div class="excerpt">
    {{ page.excerpt }}
</div>

<div id="post-text">
    {{ page.content }}
</div>
